src/co/com/poli/clase5/xmls/formato.xsd

<?xml version="1.0"?>
<xs:schema version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
    <xs:include schemaLocation="Tipodatos.xsd"/>
    <xs:element name="reunion">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="informacionGeneral" type="tipo_informacionGeneral"/> 
                <xs:element name="agenda" type="tipo_agenda" minOccurs="0"/>
                <xs:element name="informes" type="tipo_informes" minOccurs="0"/> 
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
