src/co/com/poli/colegio/Colegio.xsd

<?xml version="1.0"?>
<xs:schema version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
    
    <xs:element 
        name="colegio">
        <xs:complexType>
            <xs:sequence>
                <xs:element 
                    name="nombre" 
                    type="xs:string"> 
                <xs:element 
                    name="ciudad" 
                    type="xs:string"> 
                    
                </xs:element>
            </xs:sequence>
        </xs:complexType>        
    </xs:element>

</xs:schema>
